main {
    div {
        flex-direction: column;
        height: 500px;
        width: 500px;
        margin: auto;
        
        svg {
            width: 100%;
            height: 100%;
            fill: var(--blue);
        }
    }
}