#Main {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    padding-top: 5em;
    height: fit-content;
    width: calc(100% - 4em);
    margin: 0em 2em;
    min-height: 0px;
}

.AddDataButton {
    height: fit-content;
    width: fit-content;
    padding: 0.5em 1em;
    margin: auto;
    background: white;
    border-radius: 0.5em;
    font-size: 500;
    transition: color 0.1s linear, background-color 0.1s linear, font-weight 0.1s linear;

    &:hover {
        background: var(--green);
        color: white;
        font-weight: 500;
    }
}

.TempDataType {
    background: white;
    height: fit-content;
    width: calc(100% - 1em);
    margin: 0.5em;
    border-radius: 0.5em 0.5em 0 0;
    box-shadow: 0 0 0.5em 0 rgba(0,0,0, 0.03);
    overflow: hidden;
    
    button {
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.07) inset;
    }

    .ControllerButtons {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 10%;
        width: calc(100% - 1em);
        height: 1.5em;
        padding: 0.5em;
        background: var(--green);
        
        input {
            border-bottom: 2px solid black;
            width: 100%;
            text-align: center;
        }

        button {
            height: fit-content;
            width: fit-content;
            top: 0;
            padding: 0.3em 0.5em;
            border-radius: 10em;
            background: white;
            font-size: 0.75em;
            font-weight: 500;
            background: var(--grey1);
            transition: color 0.1s linear, background 0.1s linear;
        }

        .Save:hover {
            background: var(--green);
            color: white;
        }

        .Cancel:hover {
            background: var(--red);
            color: white;
        }
    }

    h4 {
        margin: 0.5em 0;
        width: 100%;
        text-align: center;
    }

    .DataField {
        display: grid;
        grid-template-columns: calc(55% - 2em) 1em calc(45% - 2em) 1.5em;
        grid-column-gap: 0.5em;
        margin: 0.75em 0em;
        padding: 0em 1em;

        input {
            width: 100%;
            border-bottom: 2px solid black;
            margin: auto;
        }

        span {
            width: 100%;
            margin-left: 0.25em;
            margin-top: auto;
            margin-bottom: auto;
            display: inline;
        }

        select {
            width: 100%;
            background: none;
            border-bottom: 2px solid black;
        }

        button {
            margin: auto;
            border-radius: 10em;
            padding: 0.25em 0.55em;
            font-size: 0.75em;
            font-weight: 600;
            background: var(--grey1);
            transition: color 0.1s linear, background 0.1s linear;

            &:hover{
                background: var(--red);
                color: white;
                cursor: pointer;
            }
        }
    }

    .AddDataField{
        margin: auto;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        border-radius: 10em;
        padding: 0.25em 0.55em;
        background: var(--grey1);
        transition: color 0.1s linear, background 0.1s linear;

        &:hover{
            background: var(--yellow);
            color: white;
            cursor: pointer;
        }
    }
}

.DataType {
    background: white;
    height: fit-content; 
    width: calc(100% - 1em);
    margin: 0.5em;
    border-radius: 0.5em 0.5em 0 0;
    box-shadow: 0 0 0.5em 0 rgba(0,0,0, 0.03);
    transition: border 0.1s linear;
    overflow: hidden;

    button {
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.07) inset;
    }

    .TitleWrapper{
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        padding: 0.5em;
        background: var(--green);

        h3 {
            margin: auto;
            color: white;
            font-size: 1.5em;
            font-weight: 300;
        }

        div {
            height: 100%;
            width: 100%;
        }

        button {
            height: fit-content;
            width: fit-content;
            padding: 0.3em 0.5em;
            border-radius: 10em;
            font-size: 0.75em;
            font-weight: 500;
            background: var(--grey1);
            transition: color 0.1s linear, background 0.1s linear;
        }

        .B2, .B3 {
            float: right;
        }

        .B1:hover {
            background: var(--red);
            color: white;
        }

        .B2:hover {
            background: var(--green);
            color: white;
        }

        .B3:hover {
            background: var(--yellow);
            color: white;
        }
    }

    .DataFields {
        margin: 0.75em 1em;
        border-top: 0.1em dashed rgba(0,0,0,0.25);

        p {
            padding: 0.5em 0em;
            width: 100%;
            border-bottom: 0.1em dashed rgba(0,0,0,0.25);

            span {
                display: inline;
                float: right;
            }
        }
    }
}