@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --black: #201e1f;
    --darkGrey: rgb(41, 40, 47);
    --mediumGrey: #545165;
    --yellow: yellow;
    --lightYellow: rgb(210, 210, 63);
}

html, #root, main {
    font-family: 'Nunito';
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

* {
    display: block;
    position: relative;
    font-size: 1em;
    color: white;
    transition: all 0.1s linear;
    font-size: 1.02em;
    font-weight: 500;
}

a, span, p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    width: fit-content;
}

head {
    display: none;
}

body {
    margin: 0px;
    min-height: 100%;
    background: var(--black);
}

#header {
    display: grid;
    grid-template-columns: auto;
    width: calc(100% - 4em);
    height: fit-content;
    padding: 0.5em 2em;
    grid-template-columns: 50% auto;
    box-shadow: 0 0 1vh 0 rgba(0,0,0, 0.25);
    background: var(--darkGrey);

    a {
        text-align: center;
        background: #00000000;
        transition: background 0.1s linear, color 0.1s linear;
        border-radius: 0.25em;
        width: 100%;
    }
    a:hover {
        background: var(--mediumGrey);
        color: var(--yellow);
    }

    p {
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 1em;
    }

    div {
        display: grid;
        grid-template-columns: auto;
        grid-auto-flow: column;
        grid-gap: 1em;
    }
}

