form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    border-radius: 2em;
    background: var(--darkGrey);
    box-shadow: 0 0.25em 1em 0 rgba(0,0,0,0.25);

    input {
        padding: 0.5em 1em;
        margin-bottom: 1em;
        border-radius: 0.5em;
        border: none;
        outline: none;
        background: var(--black);
        border: 2px solid #00000000;
    }
    input:hover, input:focus {
        border: 2px solid var(--lightYellow);
    }

    button {
        padding: 0.5em 1em;
        margin: auto;
        background: var(--black);
        border-radius: 0.5em;
        border: none;
        outline: none;
    }
    button:hover{
        background: var(--mediumGrey);
        color: yellow;
    }
}